.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font-size: 12px;
  text-anchor: middle;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.family-member-detail {
  margin-top: 20px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
}

.node text {
  font-size: 12px;
  text-anchor: middle;
}

.details text {
  font-size: 10px;
  text-anchor: start;
}

svg {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto;
}

.hidden-file-input {
  display: none;
}

.no-data-message {
  margin-top: 20px;
  font-size: 18px;
  color: red;
}

.upload-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 10px;
}

.upload-button:hover {
  background-color: #218838;
}

.btn {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.dropdown {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

.message-box {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 18px;
}

.dropdown{
  border-radius: 6px;
  height: 34px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
